@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Estonia&display=swap');

:root {
  --clr-body: #f9f4ef;
  --clr-head: #020826;
  --clr-pragrapgh: #716040;
  --clr-btn: #8c7851;
  --clr-text: #fffffe;
  --clr-illustration: #020826;
  --clr-tertiary: #f25042;
  --clr-secondary: #eaddcf;
  --spacing: 0.1rem;
  --primary-font: 'Barlow', sans-serif;
  --secondary-font: 'Estonia', cursive;
  --transition: all 0.3s linear;
  --radius: 4px;
}
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: var(--clr-body);
}

img {
  display: block;
  width: 100%;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  color: var(--clr-text);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
.btn-container {
  text-align: center;
  margin-bottom: 1rem;
}
.primary-btn {
  padding: 0.775rem 1.5rem;
  background: var(--clr-tertiary);
  color: var(--clr-text);
  border-radius: var(--radius);
  border: transparent;
  font-size: 1.2rem;
}
.section-center {
  width: 90vw;
  max-width: 1170px;
  margin: 0 auto;
  margin-bottom: 3rem;
}
/* SECTION-TITLE */
.section-title {
  margin-top: 2rem;
  text-align: center;
  overflow: hidden;
}
.section-title h1 {
  font-family: var(--secondary-font);

  text-transform: uppercase;
  color: var(--clr-tertiary);
  animation: comingFromLeft 4s ease-in-out;
}
.underline {
  height: 0.25rem;
  width: 10rem;
  background: var(--clr-illustration);
  margin: 2rem auto;
  animation: comingFromRight 4s ease-in-out;
}

/* SEARCH FORM */
.search-form {
  text-align: center;
}

.input {
  width: 80vw;
  max-width: 300px;
  padding: 0.75rem 1rem;
  border: 1px solid var(--clr-text);
  font-size: 1.2rem;
  outline: none;
  border-radius: 5px;
  transition: var(--transition);
  background: var(--clr-secondary);
  color: var(--clr-tertiary);
}
.input:focus {
  max-width: 600px;
}

.error {
  color: red;
  text-transform: capitalize;
  font-size: 1.2rem;
}
/* MOVIES */
.movies {
  display: grid;
  gap: 2rem;
}
@media screen and (min-width: 576px) {
  .movies {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}
.movie {
  position: relative;
  overflow: hidden;
  border-radius: var(--radius);
}

.movie img {
  width: 100%;
  height: 30rem;
  display: block;
  object-fit: cover;
}

.movie-info {
  position: absolute;
  color: var(--clr-text);
  text-align: center;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateX(100%);
  background-color: rgba(0, 0, 0, 0.5);
  transition: var(--transition);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.movie:hover .movie-info {
  transform: translate(0);
}
.title {
  max-width: 15rem;
  font-size: 1.2rem;
  margin: 0 auto;
  margin-bottom: 1rem;
}
.year {
  color: var(--clr-secondary);
  font-weight: 600;
  font-size: 1.2rem;
}
.movie-info span {
  font-size: 1.2rem;
  text-transform: capitalize;
}
.type {
  color: yellow;
}

/* ANIMATION */

@keyframes comingFromLeft {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }
  50% {
    transform: translateX(200px);
    opacity: 0.5;
  }
  75% {
    transform: translateX(-50px);
    opacity: 0.7;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes comingFromRight {
  0% {
    transform: translateX(1000px);
    opacity: 0;
  }
  50% {
    transform: translateX(-200px);
    opacity: 0.5;
  }
  75% {
    transform: translateX(50px);
    opacity: 0.7;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

/* SINGLE MOVIE */

/* MOVIE TITLE */
.movie-title {
  max-width: 30rem;
  margin: 0 auto;
}
.img-container {
  position: relative;
  overflow: hidden;
}
.img-icons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  transform: translateY(100%);
  padding: 1rem;
  transition: var(--transition);
}
.img-container:hover .img-icons {
  transform: translateY(0);
}
i {
  font-size: 2rem;
  cursor: pointer;
  color: #fff;
  margin-right: 0.2rem;
}

.img-icons p {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.single-movie {
  display: grid;
  padding: 1rem;
  gap: 1rem;
  background: var(--clr-secondary);
  border-radius: var(--radius);
  transition: var(--transition);
}

.single-movie img {
  max-height: 35rem;
  object-fit: cover;
  border-radius: var(--radius);
}

.movie-detail {
  margin-top: 1rem;
}
.single-info {
  margin-top: 0.5rem;
}
.movie-detail span {
  font-size: 1.2rem;
}
.awards {
  color: #716040;
}
.att {
  color: var(--clr-tertiary);
  font-weight: 600;
}

@media screen and (min-width: 768px) {
  .single-movie {
    grid-template-columns: auto 1fr;
  }

  .movie-detail {
    margin-top: 0;
  }
  .single-info {
    margin-top: 1rem;
  }
  .subject {
    max-width: 30rem;
    margin: 0 auto;
  }
}
